.footer-section {
  padding: 52px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.copyrights {
  color: var(--light-grey-color);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
}

.footer-social-links {
  display: flex;
  align-items: center;
  gap: 40px;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2.2px;
}

.footer-social-list {
  display: flex;
  gap: 40px;
}

.footer-social-links::before {
  content: "";
  display: block;
  height: 1px;
  width: 60px;
  background-color: var(--dark-grey-color);
  flex-shrink: 0;
}

.footer-social-links a {
  color: currentColor;
}

.footer-social-links a,
.footer-header a {
  transition-property: color;
  transition-duration: var(--tr-duration);
  transition-timing-function: var(--tr-fn);
}

.footer-social-links a:hover {
  color: var(--orange-color);
}
