.barbers-section-box {
  background-color: var(--alt-bg-color);
}

.barbers-section {
  display: flex;
  justify-content: space-between;
}

.barbers-heading {
  margin-top: 20px;
  margin-bottom: 44px;
}

.barbers-name {
  color: var(--color-text);
  text-align: center;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
  margin-top: 30px;
  margin-bottom: 3px;
}

.barbers-title {
  color: var(--orange-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.28px;
  margin-bottom: 30px;
}

.barbers-social-media {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social-media-icons {
  background-color: var(--white-color);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  transition: fill var(--tr-duration) var(--tr-fn);
}

.social-media-icons:hover,
.social-media-icons:focus {
  fill: var(--orange-color);
}
